/* COLOR SCHEME */
/* 
#3C3D44 - DARK GREY
#7D7F8B - MIDDLE GREY
#D98A7D - DARK ORANGE
*/

/* ===================== NAVBAR ===================== */

.navbar{
  background-color: #3C3D44;
  /* background: linear-gradient(45deg, #4408FF, #8208FF); */
  border-radius: 0px;
  border:0px;
  z-index: 1;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse, .navbar-brand {
  color:#fff;
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: transparent;
  color: #D98A7D;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
  background-color: transparent;
  color: #D98A7D;
}

.logo-img{
  float: left;
  position: relative;
  margin: 7px 10px 7px 10px;
}  

#navWrapper {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  margin-top: 16px;
  margin-right: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-right: 1px solid #fff;
  color: #fff;

}
  
 /* ===================== CAROUSEL ===================== */

  .carousel {
  top: -30px;
  z-index: 0;
  }

  .carousel-inner img {
    width: 100%;
    margin: auto;
  }

  .carousel-caption{
    position: absolute;
    top: 30%;
    left:auto;
    right: auto;
    width: 100%;
    color: #fff !important;
  }

  .carousel-caption p {
    font-weight: 200;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
  }

  .carousel-caption h1 {
    font-size: 60px;
    letter-spacing: 0.1em;
    padding: 40px 0px;
  }

  @media (min-width: 768px) and (max-width: 1204px){
    .carousel-caption p{
      font-size: 70%;
    }
    .carousel-caption h1{
      font-size: 32px;
      padding: 20px 0px;
    }
    .btn-primary{
      transform: scale(0.7);
      margin: -20px -5px;
    }
    .carousel-caption{
      position: absolute;
      top: 32%;
    }
  }

   /* ===================== BODY ===================== */

   #aboutParagraph {
    font-size: 30px;
  }
  h2{
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(41, 39, 39);
  }

   /* ===================== LOGIN/REGISTER BUTTONS ===================== */

   #enter {
    /* background: linear-gradient(45deg,#00FCFC,#109BFF, #4408FF, #8108FF); */
    padding: 50px 150px;
    margin:40px auto;
    height: 150px;
    text-align: center;
  }

  .btn-primary{
    background-color: transparent;
    color:#7D7F8B;
    border: 2px solid #7D7F8B;
    padding: 10px 40px;
    border-radius: 60px;
    text-transform: uppercase;
    margin-right:30px;
  }


  .btn-primary:hover{
    background-color: transparent;
    color: #D98A7D;
    border-color: #D98A7D;
  }

 /* ===================== FOOTER ===================== */

.myfooter{
  background-color: #3C3D44;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  padding: 30px 0 0 0;
  color:#fff;
}

.myfooter p{
  font-weight: 200;
  font-size: 10px;
}

.myfooter h4{
  font-weight: 200;
  padding: 10px 0;
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.1em;
}

footer a {
  color: #fff;
}


footer a:hover {
  color: #D98A7D;
  text-decoration: none;
} 

.fa {
  padding-right: 20px;
  padding-left: 2px;
  opacity: 0.8;
  transform: scale(1.15);

}

.socialbox{
  padding:0 50px;
  bottom: 0;
}

p.copyRight {
  padding: 10px 0;
  margin: 50px 0 0 0;
  background: linear-gradient(45deg,#00FCFC,#109BFF, #4408FF, #8208FF)
}

 /* ===================== LOGIN/REGISTER MODAL ===================== */

 @import url(http://fonts.googleapis.com/css?family=Roboto);

 * {
     font-family: 'Roboto', sans-serif;
 }
 
 #login-modal .modal-dialog {
     width: 350px;
 }
 
 #login-modal input[type=text], input[type=password] {
   margin-top: 10px;
 }
 
 #div-login-msg,
 #div-lost-msg,
 #div-register-msg {
     border: 1px solid #dadfe1;
     height: 30px;
     line-height: 28px;
     transition: all ease-in-out 500ms;
 }
 
 #div-login-msg.success,
 #div-lost-msg.success,
 #div-register-msg.success {
     border: 1px solid #68c3a3;
     background-color: #c8f7c5;
 }
 
 #div-login-msg.error,
 #div-lost-msg.error,
 #div-register-msg.error {
     border: 1px solid #eb575b;
     background-color: #ffcad1;
 }
 
 #icon-login-msg,
 #icon-lost-msg,
 #icon-register-msg {
     width: 30px;
     float: left;
     line-height: 28px;
     text-align: center;
     background-color: #dadfe1;
     margin-right: 5px;
     transition: all ease-in-out 500ms;
 }
 
 #icon-login-msg.success,
 #icon-lost-msg.success,
 #icon-register-msg.success {
     background-color: #68c3a3 !important;
 }
 
 #icon-login-msg.error,
 #icon-lost-msg.error,
 #icon-register-msg.error {
     background-color: #eb575b !important;
 }
 
 #img_logo {
     max-height: 100px;
     max-width: 100px;
 }
 
 /* #########################################
    #    override the bootstrap configs     #
    ######################################### */
 
 .modal-backdrop.in {
     filter: alpha(opacity=50);
     opacity: .8;
 }
 
 .modal-content {
     background-color: #ececec;
     border: 1px solid #bdc3c7;
     border-radius: 0px;
     outline: 0;
 }
 
 .modal-header {
     min-height: 16.43px;
     padding: 15px 15px 15px 15px;
     border-bottom: 0px;
 }
 
 .modal-body {
     position: relative;
     padding: 5px 15px 5px 15px;
 }
 
 .modal-footer {
     padding: 15px 15px 15px 15px;
     text-align: left;
     border-top: 0px;
 }
 
 .checkbox {
     margin-top: 20px;
     margin-bottom: 0px;
 }

 #registerWrapper {
  margin-top: 15px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .glyphicon {
     top: 0px;
 }
 
 .form-control {
   border-radius: 0px;
 }
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  